# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Build and distribution output
dist/
out/

# Env files
.env
.env.*

# Electron Forge / Builder artifacts
*.log
*.tsbuildinfo
